@model VendaIngressos.WebApp.MVC.Areas.Produto.Models.AtracaoViewModel

<form method="post">
    <input asp-for="Id" hidden />
    <div class="pt-4">
        <div class="card container" style="border:1px solid #808080;" />
        <div class="card-header text-light row" style="border-radius: 0px;">
            <div class="col-12 col-md-9">
                <h1 class="text-dark">@Model.Nome</h1>
            </div>
            <div class="col-12 col-md-3 text-end">
                <h1 class="text-warning">@((Model.Valor).ToString("c"))</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-12 col-lg-4 p-1 text-center">
                        <img src="~/imagens/@Model.Poster" style="border-radius: 35px;" width="100%" class="rounded" />
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="row pl-3">
                            <div class="col-12">
                                <span class="badge badge-primary text-success p-3 border">@Model.Data em @Model.ShowHouse.Nome</span>
                                <h3 class="text-success"></h3>
                                <p class="text-secondary">@Html.Raw(Model.Descricao)</p>
                            </div>
                        </div>
                        <div class="row px-4">
                            <input asp-for="Quantidade" min="1" max="@Model.QuantidadeIngresso" class="form-control" />
                            <span asp-validation-for="Quantidade" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer row">
        <div class="col-12 col-md-6 pb-1">
            <a href="javascript:window.history.back();" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">Voltar</a>
        </div>
        <div class="col-12 col-md-6">
            <button type="submit" class="btn-primary form-control btn-lg" style="height:50px;">Adicionar ao carrinho</button>
        </div>
    </div>
</form>

@section Scripts{
    @{    await Html.RenderPartialAsync("_ValidationScriptsPartial");    }
}